/*body style*/
body {
	font-family: arial;
	font-size: 0.8em;
}

/*link style*/
a {
	text-decoration: none;
	margin: 0px 5px;
}



/*navigation styles*/

nav {
	text-align: right;
	margin: 10px 7px 0 0;
}

nav li a {
	color: black;
}

nav a:hover {
	text-decoration: underline;
}

nav li {
	display: inline-block;
	margin: 10px;
	padding-left: 5px;
}

li img {
	opacity: 0.7;
}
 
li img:hover {
	opacity: 1;
}

.logo {
	margin: 130px auto 20px auto;
	width: 280px;
	display: block;
}


section {
	text-align: center;
}

/*input*/

input {
	font-size: inherit;
	}

input[type='text']{
	outline: none;
	width: 550px;
	height: 25px;
	border: 1px solid #ddd;
	margin-left: 430px;
	margin-bottom: 15px;
	background: url("../img/voicee.png") no-repeat 99% center;
}

input[type='text']:focus {
	border-color: blue;
}

#find input{
	width: 120px;
	height: 27px;
	font-size: 12px;
	margin: 2px;
	font-weight: bold;
	margin-bottom: 100px;
	opacity: 0.8;
}

#login input{
	margin-right: 25px;
	background-color: rgb(70, 131, 233);
	border: 1px solid #ddd;
	padding: 8px 12px;
	color: white;
	font-weight: bold;
	border-radius: 2px;
	border: none;
}

#login input:hover {
	box-shadow:  0px 0px 1px rgb(70, 131, 233);
}

#find input {
	margin-left: 8px;
}

/*/footer styles/*/

#leftfooter {
	margin-left: 20px;
	float: left;
	padding: 10px;

}

#rightfooter {
	float: right;
	margin-left: 20px;
	padding: 10px;

}

footer {
	width: 100%;
	background-color: rgb(230,230,230);
	border-top: 1px solid #ddd;
	height: 40px;
	position: absolute;
	top: 615px;
	padding-top: 8px;
}

footer a:hover {
	text-decoration: underline;
}

footer a {
	color: black; 
}







